.heading{
    padding-top:0px;
}
.menu
{
    /* border: 1px red sold; */
    background-color:blue;
    display: flex;
}
.logo img {
    width:100%;
    padding-top:0%;
    margin-top:0%;
}
.menu ul{
    display: flex;
    list-style-type: none;
    /* background-color:blue; */
    margin-top: 0% auto;
    /* padding: 0%; */
}
.menu ul li{
    padding: 5px ;
    /* margin-top:0px auto; */
    text-transform: capitalize;
    font-weight:5% ;
    font-style:bold;
    color: aliceblue;
    border-right: 1px solid aliceblue;
    font-weight: bolder;
}
input{
    height:25px;
    border-right:none !important;
    padding-top:0% auto !important;

}
.ml{
    margin-left: 0%;
    /* padding-left: 0%; */
}
